@import '@/styles/variables';

.Button {
    border: none;
    padding: 1rem 2rem;
    transition: background-color .2s;
    border-radius: 4px;
    color: $color-white;
    cursor: pointer;

    &.regular {
        background-color: $color-accent;

        &:hover {
            background-color: $color-accent-dark;
        }
    }

    &:active {
        margin-top: 1px;
        margin-bottom: -1px;
    }

    &.danger {
        background-color: $color-error;

        &:hover {
            background-color: $color-error-dark;
        }
    }

    &.disabled {
        background-color: $color-grey-light;
        color: $color-grey-dark;
        pointer-events: none;

        &:active {
            margin-top: 0;
            margin-bottom: 0;
        }

        &:hover {
            background-color: $color-grey-light;
            color: $color-grey-dark;
        }
    }

    &.subtle {
        padding: .2rem;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            color: $color-grey-ultra-dark
        }
    }
}