@import '@/styles/variables.scss';

.FAB {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 4.8rem;
    right: 4.8rem;
    border: none;
    border-radius: 50%;
    min-width: 6.4rem;
    min-height: 6.4rem;
    padding: .5rem;
    box-shadow: 8px 8px 8px rgba($color-black, .5);
    background-color: $color-accent;
    transition: background-color .5s;

    &.relative {
        position: relative;
        bottom: auto;
        right: auto;
    }

    &:hover {
        background-color: $color-accent-dark;
        cursor: pointer;

        .icon {
            svg {
                color: $color-grey-ultra-light;
            }
        }
    }
    
    &:active {
        margin-top: 1px;
        margin-bottom: -1px;
        box-shadow: 6px 6px 6px rgba($color-black, .6);
    }

    .icon {
        svg {
            width: 4rem;
            height: 4rem;
            color: $color-white;
        }
    }
}