@import '../../styles/variables';

.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .buttonsContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        .paginationButton {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 3.6rem;
            width: 3.6rem;
            background-color: $color-white;
            margin: 0 .5rem;
            cursor: pointer;

            &:hover {
                background-color: $color-accent;
                
                &.numberButton {
                    color: $color-white;
                }

                div {
                    svg {
                        color: $color-white;
                    }
                }
            }

            div {
                svg {
                    width: 1.7rem;
                    height: 1.7rem;
                }
            }


            &.disabled {
                background-color: $color-grey-light;
                pointer-events: none;
                
                div {
                    svg {
                        color: $color-grey-mid;
                    }
                }
            }

            &.active {
                height: 3.8rem;
                width: 3.8rem;
                background-color: $color-highlight;
                color: $color-white;
                pointer-events: none;

                h3 {
                    font-size: 1.6rem;
                }
            }

            &.numberButton {
                color: $color-grey-dark;
                padding: 0;
            }

            &.contrastMode {
                border: 1px solid black;
            }
        }
    }

    .perPageTitle {
        margin-left: 2rem;
        margin-right: 1rem;
    }
}
