@import '../../styles/variables';

.AppShell {
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: min-content min-content 1fr;
    height: 100vh;

    .header {
        grid-column: 2 / 3;
        grid-row: 1 / 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3.2rem;
        height: 64px;
        min-height: 64px;
        background-color: $color-secondary;
        box-shadow: 0 2px 5px rgba($color-black, .1);

        @include respond(tab-port) {
            grid-column: 1 / 3;
        }

        .navState {
            display: flex;
            align-items: center;
    
            .title {
                color: $color-white;
            }
        }

        .logoutButton {
            h3 {
                font-size: 2rem;
            }
        }
    }

    .navBar{
        grid-column: 1 / 1;
        grid-row: 1 / 4;
        display: flex;
        flex-direction: column;
        padding-top: 3.2rem;
        border-right: 1px solid $color-grey-light;
        color: $color-grey-ultra-dark;

        @include respond(tab-port) {
            grid-column: 1 / 3;
            grid-row: 2 / 2;
            flex-direction: row;
            padding: 0;

            .navButton,
            a:visited,
            a:active {
                text-align: center;
                margin-bottom: 0 !important;
            }
        }

        .navButton,
        a:visited,
        a:active {
            width: 100%;
            padding: .8rem 1.6rem;
            margin-bottom: 1.6rem;
            font-size: 1.6rem;

            &.active,
            &:hover {
                background-color: $color-accent;
                color: $color-white;
            }
        }
    }

    .main {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
        background-color: $color-background;

        @include respond(tab-port) {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
    }
}