@import '@/styles/variables';

.Select {
    position: relative;
    display: flex;
    height: 3.6rem;

    .selectionContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-white;
        border: 1px solid $color-grey-light;
        border-radius: 4px;
        width: 100%;
        min-width: 5rem;
        padding: 0 1rem 0 1.5rem;
        cursor: pointer;
        z-index: 3;

        h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        div {
            padding: 0;
            margin-left: 1rem;
            transition: all .2s;

            &.optionsOpen {
                transform: rotate(180deg);
            }

            svg {
                width: 1.7rem;
                height: 1.7rem;
            }
        }
    }

    .optionsContainer {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: -.5rem;
        background-color: $color-white;
        border: 1px solid $color-grey-light;
        border-radius: 4px;
        z-index: 2;
        padding: .4rem;
        min-width: 5rem;
        width: 100%;
        transform-origin: 50% 0;
        transform: translateY(80%) scaleY(50%);
        opacity: 0;
        transition: all .2s;

        &.optionsOpen {
            transform: translateY(100%) scaleY(100%);
            opacity: 1;
        }
        

        & > div {
            padding: .5rem 1rem;
            cursor: pointer;
            border-radius: 2px;
            margin-bottom: .4rem;

            h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover {
                background-color: $color-accent;
                color: $color-white;
                cursor: pointer;
            }

            &.selected {
                background-color: $color-highlight;
                color: $color-white;
            }
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}