@import '@/styles/variables.scss';

.Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: .5rem;
    transition: background-color .5s;
    
    svg {
        color: $color-grey-dark;
        transition: color .5s;
    }

    &:hover {
        svg {
            color: $color-grey-ultra-dark;
        }
    }

    &.withBackground {
        background-color: $color-accent;

        svg {
            color: $color-white;
        }

        &:hover {
            opacity: .5;
        }
    }
}