@import '../../styles/variables';

.Grid {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;

    .gridContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 3.2rem));
        grid-gap: 1.6rem;
        margin: 0;
    }
}