@import '../../styles/variables';

.CustomerGridItem {
    width: 45rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 23rem;
    margin: 2px;
    box-sizing: content-box;
    cursor: pointer;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba($color-black, .2);

    &:hover {
        border: 2px solid $color-accent;
        margin: 0;
    }

    .topContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        border-bottom: 1px solid $color-grey-light;
        padding: 1.2rem 1.75rem .8rem 1.75rem;

        .customerName {
            width: 80%;
            padding-left: 2rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
    .bottomContainer {
        flex-grow: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 1.2rem 1.75rem .8rem 1.75rem;
        
        .imageContainer {
            position: absolute;
            width: 8rem;
            height: 8rem;
            top: -3.8rem;
            left: 2rem;
            overflow: hidden;
            border-radius: 50%;
        }
        
        .numericData {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            align-items: center;
            width: 20%;
            margin-top: 3.7rem;
    
                .dataLabel {
                    color: $color-terciary;
                }
    
                .dataContent {
                    color: $color-grey-ultra-dark;
                }
        }
    
        .personalData {
            display: grid;
            grid-template-columns: max-content 1fr;
            gap: 1rem;
            width: 80%;
            height: 100%;
            padding-left: 2rem;
    
                .dataLabel {
                    color: $color-terciary;
                }
    
                .dataContent {
                    color: $color-grey-ultra-dark;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
        }

        .state {
            position: absolute;
            right: 1.6rem;
            top: 1.6rem;
            font-size: 1.3rem;
            width: 10rem;
            text-align: center;
            color: $color-white;
            border-radius: .8rem;
            padding: .5rem 0;

            &.available {
                background-color: $color-main;
            }
    
            &.sold {
                background-color: rgb(236, 236, 139);
            }
    
            &.paid {
                background-color: rgb(242, 136, 136);
            }
        }
    }
}