@import '../../styles/variables';

.Dialog {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color-black, .4);
    z-index: 400;
    color: $color-grey-ultra-dark;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 3.2rem;
        border-radius: 5px;
        background-color: white;
        min-width: 300px;
        max-width: 500px;
        box-shadow: 2px 2px 5px rgba($color-black, .5);
        margin-top: -12%;

        .title {
            font-size: 2.3rem;
        }

        .subtitle {
            margin-top: 1.6rem;
            text-align: center;
        }

        .buttonsContainer {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: 2.3rem;
        }
    }
}