@import '../../styles/variables';

.Login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $color-main;

	.formContainer {
		display: flex;
		flex-direction: column;
		background-color: $color-white;
		border-radius: 10px;
		justify-content: space-between;
		height: 35rem;
		width: 35rem;
		padding: 3rem 6rem;
		box-shadow: 2px 2px 5px rgba($color-black, .2);
		margin-top: -5%;
	}

	.buttonContainer {
		display: flex;
		justify-content: center;
	}
}
