@import '../../styles/variables';

.ProductsGrid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;

    .toolbar {
        margin-bottom: 2.3rem;
    }

    .gridContainer {
        padding: 3.2rem;
    }
}