@import '@/styles/variables';

.Search {
    display: flex;
    align-items: center;

    .textInputContainer {
        display: flex;
        position: relative;

        .textInput {
            input {
                padding-right: 3rem;
            }
        }
    
        .resetSearchButton {
            position: absolute;
            right: .5rem;
            bottom: 50%;
            transform: translateY(50%);
            visibility: hidden;
            cursor: pointer;

            &.visible {
                visibility: visible;
            }

            div {
                padding: 0;
                background-color: transparent;
    
                svg {
                    color: $color-grey-light;
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }

    .searchButton {
        margin-left: .5rem;
        align-self: flex-start;
        cursor: pointer;

        div {
            width: 3.6rem;
            height: 3.6rem;
        }
    }
}