@import '../../styles/variables';

.Customers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;

    .toolbar {
        margin-bottom: 1rem;
    }

    .gridContainer {
        margin-top: 1rem;
        padding: 2rem;
    }

    .fabContainer {
        position: absolute;
        bottom: 4.8rem;
        right: 4.8rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}