@import '../../styles/variables';

.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    width: 50%;
    min-width: 50rem;
    margin: 2rem 2rem;
    padding: 4rem 4rem;
    padding-bottom: 3rem;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba($color-black, .2);
    align-self: center;

    .changePassword {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        width: 24rem;

        .textInput {
            width: 100%;
            margin-bottom: 1.5rem;
        }
    }
}