@import '../../styles/variables';

.UpdateProductStateModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56rem;
    min-width: 400px;
    padding: 1.6rem 0 3.2rem 0;

    .title {
        font-size: 2.3rem;
    }

    .stateUpdateContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 3.2rem 0;

        .doubleArrows {
            margin: 0 3.2rem;
            font-size: 3.2rem;
        }

        .select {
            width: 11rem;
        }
    }
}