@import '../../styles/variables';

.PageNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $color-main;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -5%;

        .title {
            font-size: 16rem;
            color: $color-highlight;
        }
    
        .subtitle{
            font-size: 8rem;
            color: $color-highlight;
        }
    }
}