@import '@/styles/variables.scss';

.IconButton {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        
        div {
            background-color: $color-grey-light;
            
            svg {
                color: $color-grey-mid;
            }
        }
    }

    &:active {
        margin-top: 1px;
        margin-bottom: -1px;
    }
}