@import '../../styles/variables';

.Toolbar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.6rem 3.2rem;
    border-bottom: 1px solid $color-grey-light;
    box-shadow: 0 2px 5px rgba($color-black, .1);
    background-color: $color-white;
    z-index: 4;

    @include respond(phone) {
        grid-template-columns: 50% 50%;
    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(phone) {
            grid-column: 1 / -1;
            margin-bottom: 1rem;

            div {
                flex-grow: 1;
            }
        }

        .label {
            margin-right: .8rem;
        }
    }

    .select {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1.6rem;

        .label {
            margin-right: .8rem;
        }

        .filterSelect {
            width: 16rem;

            @include respond(phone) {
                width: 100%;
            }
        }

        .sortSelect {
            width: 16rem;

            @include respond(phone) {
                width: 100%;
            }
        }
    }
}