@import '@/styles/variables';

.TextInput {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.withError {
        .inputElement {
            border: 1px solid $color-error;
    
            &:active,
            &:focus {
                border: 1px solid $color-error;
            }
        }
    }

    &.disabled {
        .label {
            color: $color-grey-dark;
        }

        .inputElement {
            &:active,
            &:focus {
                border: 1px solid $color-grey-light;
            }
        }
    }

    .labelContainer {
        display: flex;
        margin-bottom: .5rem;

        .label {
            color: $color-grey-ultra-dark;
            font-size: 1.4rem;
            font-weight: 600;
        }

        .required {
            color: $color-error;
            font-size: 1.4rem;
            font-weight: 600;
            margin-left: .8rem;
        }
    }

    .inputElement {
        border: 1px solid $color-grey-light;
        border-radius: 4px;
        padding: 0 .5rem;
        height: 3.6rem;
        outline: none;
        font-size: 1.4rem;
        color: $color-grey-ultra-dark;
        transition: all .5s;

        &:active,
        &:focus {
            border: 1px solid $color-highlight;
        }

        &::placeholder {
            font-size: 1.4rem;
            color: $color-grey-dark;
        }
    }

    .errorMessage {
        margin-top: .4rem;
        min-height: 3rem;
        font-size: 1.4rem;
        color: $color-error;
    }
}