@import '../../styles/variables';

.UpdateCustomerModal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 2.3rem;
        margin-bottom: 1.9rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .textInputsContainer {
            display: flex;
    
            .sideContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 1.6rem;
                
                .textInput {
                    width: 32rem;
                    height: 10rem;
                    min-width: 200px;
                }
            }
    
        }
    }


    .buttonsContainer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 1.6rem;
    }
}