@import '@/styles/variables';

@mixin dataLabel {
    color: $color-grey-mid;
    font-size: 1.3rem;
}

@mixin dataContent {
    color: $color-grey-ultra-dark;
    font-size: 1.3rem;
    overflow: hidden;
}

.CustomerDetail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $color-grey-ultra-light;
    padding: 1rem 2rem 0 2rem;
    overflow-y: auto;

    .fabContainer {
        position: absolute;
        bottom: 4.8rem;
        right: 4.8rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .customerInformation {
        display: grid;
        grid-template-columns: max-content 40% 1fr;
        padding: 2rem;
        background-color: $color-white;
        border-radius: 3px;
        box-shadow: 2px 2px 10px rgba($color-black, .2);

        @include respond(tab-land) {
            grid-template-columns: max-content 1fr;
        }

        .imageContainer {
            position: relative;
            display: flex;
            width: 12rem;
            height: 12rem;
            min-width: 12rem;
            min-height: 12rem;
            overflow: hidden;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .basicInformation {
            display: flex;
            flex-direction: column;
            border-right: 1px solid $color-grey-light;
            margin-left: 2rem;
            padding-right: 2rem;

            @include respond(tab-land) {
                padding-right: 0;
                border-right: none;
            }

            .nameContainer {
                display: flex;
                justify-content: space-between;
            }

            .contactInformation {
                flex-grow: 1;
                display: grid;
                grid-template-columns: max-content 1fr;
                gap: 1rem;
                margin: 1rem 0;

                .dataLabel {
                    @include dataLabel;
                }
    
                .dataContent {
                    @include dataContent;
                }
            }
        }

        .statistics {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(max-content, 16rem));
            justify-content: space-around;
            gap: 1rem;
            margin-left: 2rem;

            @include respond(tab-land) {
                grid-area: 2 / 1 / 3 / 3;
                margin-left: 0;
                margin-top: 2rem;
            }
            
            .statistic {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .statisticLabel {
                    justify-content: center;
                    text-align: center;
                    @include dataLabel;
                    font-size: 1.6rem;
                }

                .statisticContent {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    color: $color-highlight;
                    font-size: 3rem;
                }
            }
        }
    }

    .productsContainer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: $color-white;
        margin-top: 2rem;
        border-radius: 3px;
        box-shadow: 2px 2px 10px rgba($color-black, .2);
        width: 100%;


        .ProductsGrid {
            &.withProducts {
                & > :last-child {
                    display: flex;
                    flex-direction: column;
                    padding: 1.6rem;
    
                    & > :first-child {
                        flex-grow: 1;
                        padding: 1.6rem;
                        border-radius: 5px;
                        background-color: $color-background;
                    }
                }
            }
        }
    }
}