@import '../../styles/variables';

.EmptyListMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;

    & > * {
        margin-top: -10%;
    }
}