// COLORS
$color-main: #EBEBEB;
$color-secondary: #CAD2C5;
$color-terciary: #84A98C;
$color-accent: #59C3C3;
$color-accent-dark: #408f8f;
$color-highlight: #52489C;

$color-error: #D55050;
$color-error-dark: #A83E3E;
$color-success: #5fEE5f;
$color-success-dark: #47B547;

$color-white: #FFF;
$color-grey-ultra-light: #F6F6F6;
$color-grey-light: #DADADA;
$color-grey-mid: #AFAFAF;
$color-grey-dark: #8B8B8B;
$color-grey-ultra-dark: #565656;
$color-black: #000;

// LAYOUT
$color-background: $color-main;


// MIXIN MANAGER
/*
phone             <600px
tablet portrait   600px - 900px
tablet landscape  900px - 1200px
desktop           1200px - 1800px => THIS IS THE STANDARD SIZE
big desktop       >1800px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 600px) { @content };
    }

    @if $breakpoint == tab-port {
        @media (max-width: 900px) { @content };
    }

    @if $breakpoint == tab-land {
        @media (max-width: 1200px) { @content };
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 1800px) { @content };
    }
}