@import './variables.scss';

html,
body,
#__next {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
		min-height: 100vh;
	color: $color-grey-ultra-dark;
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 60%;
	}

	@include respond(tab-port) {
		font-size: 50%;
	}
	
	@include respond(phone) {
		font-size: 45%;
	}
	
	@include respond(big-desktop) {
		font-size: 70%;
	}
}


a {
	color: inherit;
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 2.5rem !important;
	font-weight: 400;
}

h2 {
	font-size: 2rem;
	font-weight: 300;
}

h3 {
	font-size: 1.6rem;
	font-weight: 400;
}

h4 {
	font-size: 1.4rem;
	font-weight: 400;
}

p {
	font-size: 1rem;
}

ul {
    list-style-type: none;
}