@import '../../styles/variables';

.UpdateProductModal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 2.3rem;
    }

    .lastUpdated {
        font-size: 1.4rem;
        color: $color-grey-dark;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.9rem;

        
        .textInputsContainer {
            display: grid;
            grid-template-columns: repeat( 3, minmax(15rem, 1fr));
            gap: 1rem 2rem;

            .owner {
                color: $color-accent;

                &:hover {
                    color: $color-accent-dark
                }
            }
        }
    
        .buttonsContainer {
            display: flex;
            justify-content: space-around;
            width: 50%;
            margin-bottom: 1.6rem;
    
            .deleteButton {
                background-color: $color-error;
    
                &:hover {
                    background-color: $color-error-dark;
                }
            }
        }
    }
}