@import '../../styles/variables';

.ViewImageModal {
    position: relative;
    width: 80vw;
    height: 80vh;

    .image {
        z-index: 2;
    }

    .Loader {
        position: absolute;
        z-index: 1;
    }
}