@import '../../styles/variables';

.ProductGridItem {
    position: relative;
    width: 42rem;
    height: 23rem;

    &:hover {
        .editOptions {
            display: flex;
        }
    }
    
    .editOptions {
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba($color-black, .4);
        width: 100%;
        height: 100%;
        padding: 2rem;
        border-radius: 5px;
        z-index: 100;

        .button {
            width: 15rem;
            box-shadow: 4px 4px 5px rgba($color-black, .4);
            background-color: $color-accent;
            cursor: pointer;

            &:hover {
                background-color: $color-accent-dark;
            }
        }
    }


    .cardContainer {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 4px 4px 5px rgba($color-black, .2);
        overflow: hidden;
        background-color: $color-white;
    
        .imageContainer {
            position: relative;
            width: 16rem;
            min-width: 16rem;
            height: 100%;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
    
            .state {
                position: absolute;
                left: 1rem;
                top: 1rem;
                font-size: 1.3rem;
                width: 10rem;
                text-align: center;
                color: $color-white;
                border-radius: .8rem;
                padding: .5rem 0;
    
                &.available {
                    background-color: rgb(182, 244, 159);
                    color: rgb(79, 141, 54);
                    font-weight: 600;
                }
        
                &.sold {
                    background-color: rgb(242, 242, 135);
                    color: rgb(119, 119, 67);
                    font-weight: 600;
                }
        
                &.paid {
                    background-color: rgb(238, 146, 146);
                    color: rgb(137, 45, 45);
                    font-weight: 600;
                }
            }
        }
    
        .dataContainer {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 1.6rem;
            overflow: hidden;
    
            .productName {
                font-size: 1.9rem;
                margin-bottom: .8rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .numericDataContainer {
                display: grid;
                grid-template-columns: max-content max-content max-content;
                margin-bottom: .8rem;
    
                .numericData {
                    font-size: 1.6rem;
                    font-weight: 300;
                    color: $color-grey-dark;
                    border-right: 1px solid $color-grey-light;
                    padding: 0 .8rem;
                    text-align: center;
                }
    
                :nth-child(1) {
                    text-align: left;
                    padding-left: 0;
                }
    
                :nth-child(3) {
                    text-align: right;
                    border: none;
                    padding-right: 0;
                }
            }
    
            .softData {
                flex-grow: 1;
                display: grid;
                grid-template-columns: max-content 1fr;
                gap: .5rem 2rem;
                align-items: center;
    
                .dataLabel {
                    color: $color-terciary;
                }
    
                .dataContent {
                    color: $color-grey-ultra-dark;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}